.git
.gitignore
.idea
.vscode
**/target
**/.classpath
**/.project
**/.settings
**/.env
**/.env.*
!**/.env.example
deployment/backend/.env
node_modules

.m2
.mvn
.settings
target
node_modules
*.log
*.md
.env
.env.*
!.env.example
.classpath
.factorypath
.project
